.page {
    max-width: 1300px;
    margin: 0 auto;
}
.page .disable-destak .content-result__destak {
    display: none;
}
.page-structure {
    max-width: 1200px;
    padding: 20px;
}
.page-structure p > span {
    font-weight: bold;
}
.page .page-add-loading ul li a,
.page .page-add-loading ul li p,
.page .page-add-loading ul li h3{
    background-color: gray;
    color: transparent;
}
