.content-result {
    display: flex;
}
.content-result__list {
    width: 70%;
    margin:0 30px 0 0;
    list-style: none;
    padding-left: 0;
}
.content-result__destak {
    width: 30%;
}
@media (max-width: 950px) {
    .content-result__list {
        width: 100%;
    }

    .content-result__destak {
        width: 100%;
    }
}